/* STYLES CSS */

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600');
/* GENERALES */


body{
    width: 100%;
    margin: 0;
    padding:0;
	font-family: 'Oswald', sans-serif;

    background: #fff;
}
.h1, h1 {
    font-size: 34px;
}
.h4, h4 {
    line-height: 24px;
}

.thin {
	font-weight: 300;
}

.typeMedium {
	font-weight: 400;
}

.sinNada{
	margin: 0;
	padding: 0;
}
.blanco{
	color: #fff;
}
.verde{
	color: white;
}
.gris{
	color: #727272;
}
.negro{
	color:#000;
}
.big{
	display: block !important;
}
.medium{
	display: none !important;
}
.small{
	display: none !important;
}
.space{
	height: 20px;
}
.endSpace{
	height: 50px;
}
.enlinea{
	display: inline-block;
    vertical-align: middle;
}
.padd{
	padding: 6px 6px;
}
.muestra{
	display: block;
}
.esconde{
	display: none;
}
.cursor{
	cursor: pointer;
}
.textCenter{
	text-align: center;
}
.adios{
    display: none;
}
.guia{
	border: solid 1px red;
}
.boldcls{
	font-weight: 600;
}
/*HEADER*/
header{
	width: 100%;
	position: fixed;
	z-index: 100;
}
.logoback{
	height: auto;
	background: #fff;
	height: 80px;
}
.logoCont{
	width: 200px;
	height: auto;
	margin: 0 auto;
	padding: 10px;
}
.menuSel{
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    height: 40px;
}
.contList{
	text-align: center;
}
ul, li{
	list-style: none;
	display: inline-block;
	margin-bottom: 0;
	padding: 0 10px;
}
.margList{
	margin: 0 10px;
}
.borderVis{
	border-bottom: 0px solid #fff;
}
.borderVis:hover{
	border-bottom: 4px solid #fff;
}
/*SECTiON01*/

.sect01{
	background: url('../img/02_bg.png') 0 0 no-repeat;
	background-size: cover;
	width:100%;
	height: auto;
	position: relative;
	margin-top: 80px;
}
.contTextsect01{
	text-align: center;
	margin:250px 0 ;
	position: relative;
	height: 80px;
}
.contcuadros{
    position: relative;
    background: #fff;
    padding: 10px 20px;
    width: 80%;
    margin: 0 auto;
    z-index: 10;
}
.blocktrans01{
    background: rgba(255,255,255,.7);
    width: 78%;
    height: 60px;
    position: absolute;
    top: 260px;
    left: 110px;
}
.blocktrans02{
	background: rgba(255,255,255,.2);
    width: 78%;
    height: 60px;
    position: absolute;
    top: 240px;
    left: 140px;
}

/*SECTiON02*/

.sect02{
	background:#E6E6E6;
	background-size: cover;
	width:100%;
	height: auto;
	position: relative;
}
.contTitu02{
	background: url('../img/03_gradacion.png') 0 0 repeat-y;
	background-size: cover;
	height: auto;
	position: relative;
	text-align: center;
	padding: 20px 0;
    margin: 0 0 60px 0;
}
.iconLo{
	text-align: center;
}
.bgimage01{
	background: url('../img/03_bg.png') 0 0 no-repeat;
	background-size: cover;
	height: auto;
	position: relative;
	text-align: center;
	padding: 20px;
    margin: 60px  0 0 0;
}
/*SECTiON03*/

.sect03{
	background:#E6E6E6;
	background-size: cover;
	width:100%;
	height: auto;
	position: relative;
}
.contTitu03{
	height: auto;
	position: relative;
	text-align: center;
	padding: 20px 0;
    margin: 70px 0 60px 0;
}
.bullet{
	font-size: 20px;
}
.lineBlack{
	height: 2px;
	width: 100%;
	background: #000;
}
.imgSlide{
	background: url('../img/04_Lucio.png') 0 0 no-repeat;
	background-size: contain;
	width: 250px;
	height: 250px;
	    margin: 0 auto;
}

/*SECTION04*/

.sect04{
	background: url('../img/06_bg.png') 0 0 no-repeat;
	background-size: cover;
	width:100%;
	height: auto;
	position: relative;
	margin-top: 80px;
}

.contVision {
	background: rgba(26,26,26,0.8);
	padding: 10px;
	text-transform: uppercase;
	height: 45px;
}

.alfa {
	background: rgba(26,26,26,0.3);
	padding: 10px;
	height: 45px;
}

.padVis {
	padding: 0 3px;
	margin-top: 40px;
}

.itemVis {
	padding: 0 25px 0 15px;
	border-left: 1px solid #fff;
	margin: 20px 0;
}

.itemLeft {
	padding-right: 0px;
}

.frase {
	text-align: center;
	padding-bottom: 10px;
}

.bullet2 {
	font-style: 8px;
	letter-spacing: 1px;
	text-align: center;
}
/*SECTION05*/

.sect05{
	background: url('../img/13_bg.png') 0 0 no-repeat;
	background-size: cover;
	width:100%;
	height: auto;
	position: relative;
	margin-top: 80px;
	padding-bottom: 250px;
}

.contTitu05 {
    background: url(../img/13_gradacion.png) 0 0 repeat-y;
    background-size: cover;
    height: auto;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

.contTitu06{
	height: auto;
	position: relative;
	text-align: center;
	padding: 20px 0;
    margin: 10px 0;
}




/*--------------------------------*/


/*----Estilos de JS----*/
.js-borderMenu{
  border-bottom: 3px solid #000;
}
.js-colorChange{
	color: #fff;
}