/* STYLES CSS */

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600');
/* GENERALES */


body{
    width: 100%;
    margin: 0;
    padding:0;
	font-family: 'Oswald', sans-serif;

    background: #fff;
}
.h1, h1 {
    font-size: 34px;
}
.h4, h4 {
    line-height: 24px;
}

.sinNada{
	margin: 0;
	padding: 0;
}
.blanco{
	color: #fff;
}
.verde{
	color: white;
}
.gris{
	color: #727272;
}
.negro{
	color:#000;
}
.big{
	display: block !important;
}
.medium{
	display: none !important;
}
.small{
	display: none !important;
}
.space{
	height: 20px;
}
.endSpace{
	height: 50px;
}
.enlinea{
	display: inline-block;
    vertical-align: middle;
}
.padd{
	padding: 6px 6px;
}
.muestra{
	display: block;
}
.esconde{
	display: none;
}
.cursor{
	cursor: pointer;
}
.textCenter{
	text-align: center;
}
.adios{
    display: none;
}
.guia{
	border: solid 1px red;
}
.boldcls{
	font-weight: 600;
}
.dere{
	float: right;
}
/*HEADER*/
header{
	width: 100%;
	position: fixed;
	z-index: 100;
}
.logoback{
	height: auto;
	background: #fff;
	height: 80px;
}
.logoCont{
	width: 200px;
	height: auto;
	margin: 0 auto;
	padding: 10px;
}
.menuSel{
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    height: 40px;
}
.contList{
	text-align: center;
}
ul, li{
	list-style: none;
	display: inline-block;
	margin-bottom: 0;
	padding: 0 10px;
}
.margList{
	margin: 0 10px;
}
.borderVis{
	border-bottom: 0px solid #fff;
}
.borderVis:hover{
	border-bottom: 4px solid #fff;
}
/*SECTiON01*/

.sect01{
	background: url('../img/02_bg.png') 0 0 no-repeat;
	background-size: cover;
	width:100%;
	height: auto;
	position: relative;
	margin-top: 80px;
}
.contTextsect01{
	text-align: center;
	margin:250px 0 ;
	position: relative;
	height: 80px;
}
.contcuadros{
    position: relative;
    background: #fff;
    padding: 10px 20px;
    width: 80%;
    margin: 0 auto;
    z-index: 10;
}
.blocktrans01{
    background: rgba(255,255,255,.7);
    width: 78%;
    height: 60px;
    position: absolute;
    top: 260px;
    left: 110px;
}
.blocktrans02{
	background: rgba(255,255,255,.2);
    width: 78%;
    height: 60px;
    position: absolute;
    top: 240px;
    left: 140px;
}

/*SECTiON02*/

.sect02{
	background:#E6E6E6;
	background-size: cover;
	width:100%;
	height: auto;
	position: relative;
}
.contTitu02{
	background: url('../img/03_gradacion.png') 0 0 repeat-y;
	background-size: cover;
	height: auto;
	position: relative;
	text-align: center;
	padding: 20px 0;
    margin: 0 0 60px 0;
}
.iconLo{
	text-align: center;
}
.bgimage01 {
    background: url(../img/03_bg.png) 0 0 no-repeat;
    background-size: cover;
    height: auto;
    position: relative;
    text-align: center;
    padding: 30px;
    margin: 40px 0 0 0;
}

/*SECTiON03*/

.sect03{
	background:#E6E6E6;
	background-size: cover;
	width:100%;
	height: auto;
	position: relative;
}
.contTitu03{
	height: auto;
	position: relative;
	text-align: center;
	padding: 20px 0;
    margin: 70px 0 60px 0;
}
.bullet{
	font-size: 20px;
}
.lineBlack{
	height: 2px;
	width: 100%;
	background: #000;
}
.imgSlide{
	background: url('../img/04_Lucio.png') 0 0 no-repeat;
	background-size: contain;
	width: 250px;
	height: 250px;
	    margin: 0 auto;
}
.contSlider{
    width: 320px;
    margin: 0 auto;
}


/*SECTiON06*/

.sect06{
	background:#E6E6E6;
	background-size: cover;
	width:100%;
	height: auto;
	position: relative;
}
.contTitu06{
	height: auto;
	position: relative;
	text-align: center;
	padding: 20px 0;
    margin: 70px 0 10px 0;
}
.contSlider2{
    margin: 0 auto;
}
.contSliderImg{
	background: #fff;
	width: 100%;
	height: auto;
	padding: 20px;
}
.imgPrdo{
	width: 70%;
	margin: 0 auto;
}
.contSilderGnr{

}
.arrow{
	width: 30px;
    margin-top: 50px;
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: auto;
    font-size: 0;
    color: #fff;
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    filter: alpha(opacity=50);
    opacity: 1;
}
.carousel-control.left {
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}
.carousel-control.right {
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}
.slideHei{
	height: 200px;
}
/*--------------------------------*/


/*----Estilos de JS----*/
.js-borderMenu{
  border-bottom: 3px solid #000;
}
.js-colorChange{
	color: #fff;
}